{% extends 'base.html' %}

{% block head %}
<title>Giraffe</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Mukta:wght@500&display=swap" rel="stylesheet">
<style>
  /* Remove the jumbotron's default bottom margin */
  .jumbotron {
    margin-bottom: 40;
    /* new things */
    padding: 60px;
    text-align: center;
    background: #7B68EE;
    color: white;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
  }

  #jumbotronText {
    border-radius: 30px;
    background: #4040a1;
    padding: 0px;
    width: 800px;
    height: 100px;
  }

  img {
    cursor: pointer;
  }

  .panel-heading {
    text-align: center;
    color: #4040a1;
    font-family: 'Mukta', sans-serif;
  }

  .panel-primary>.panel-heading {
    color: #fff;
    background-color: #4040a1;
    border-color: #4040a1;
  }

  .panel-primary {
    border-color: #4040a1;
  }

  .panel-body {
    border-color: #4040a1;
  }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <div id="jumbotronText" class="container text-center">
    <h2>Latest Petitions Based on Current Events!</h1>
      <p>Stayed Tuned for the Next Update</p>
      <h2 class=timer id="demo">
        </p>
        <script>
          // Set the date we're counting down to
          var countDownDate = new Date("Jan 5, 2022 15:00:00").getTime();

          // Update the count down every 1 second
          var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

            // If the count down is over, write some text 
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("demo").innerHTML = "EXPIRED";
            }
          }, 1000);
        </script>
  </div>
</div>
<script>
  function load() {


    fetch('http://127.0.0.1:5000/movies').then(response => {
      return response.json(); //makes result into json format
    }).then(parsedResponse => {
      console.log(parsedResponse); //inject this into HTML 
      //document.querySelector('#temptitle').innerHTML = parsedResponse.temp;
      //$('#temptitle').innerText('reached here')
      renderTiles(parsedResponse);
    })
  }
  window.addEventListener('load', (event) => {
    load();
  });

  function renderTiles(movies) {

    // ['On Inauguration Day, What Message Will Biden Try To Deliver - NPR', 
    // ['All-Virtual Inauguration 2021', 'Remove Senator Ben Sasse from republican party.', 'reinstate ms\u200b.\u200bcasserly', 'Traffic Safety for UF Students', 'Sign this if you believe LGBTQ+ quotes should be allowed in the kennedy year book', 'Governor Pritzker Veto Illinois HB 3653']
    // ]]

    // //[News article title, [petition name, description, ?]]

    // ['Powerball results for 01/16/21; did anyone win the $640M jackpot? - MLive.com', 
    // ['All-Virtual Inauguration 2021', 'Sign this if you believe LGBTQ+ quotes should be allowed in the kennedy year book', 'Traffic Safety for UF Students', 'reinstate ms\u200b.\u200bcasserly', 'Remove Senator Ben Sasse from republican party.', 'Keep Senator Josh Hawley']
    // ]

    //var movies = [{ name: 'Avengers' }, { name: 'Bee Movie' }, { name: 'Borat' }];
    var movieCollection = "";
    console.log(typeof movies);
    for (i = 0; i < 3; i++) { //parsedResult.length for the array
      movieCollection += '<div class="row">'
      for (j = 0; j < 3; j++) {
        console.log((movies).length);
        console.log(movies[i][1][j][0]);
        console.log(movies[i][1][j][3]);
        console.log(movies[i][1][j][2]);
        let block = '<div class="col-sm-4">' +
          '<div class="panel panel-primary">' +
          '<div id="temptitle" class="panel-heading">' + movies[i][1][j][0] + '</div>' +
          '<div class="panel-body"><img src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/' + movies[i][1][j][3] + '" class="img-responsive"' +
          'style="width:100%" alt=' + "https://www.google.com" + ' onclick="linktopetition(this)"></div>' + //add link from image here!
          '<div class="panel-footer">' + movies[i][1][j][2] + '</div>' +
          '</div>' +
          '</div>';
        movieCollection += block;

      }
      movieCollection += '</div>'
    }
    document.querySelector('#movieResults').innerHTML = movieCollection;
    console.log(movieCollection);
  }

  function linktopetition(img) {
    var href = img.alt;
    console.log(img.alt)
    window.open(href);
    // window.open("http://www.google.com");
  }

</script>
<div class="container">
  <div class="row">
    <div id="movieResults">

      <!-- </div>
    {% for news_item in news %}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">CATEGORY</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
            style="width:100%" alt="Image" ></div>
        <div class="panel-footer">Title of the content</div>
      </div>
    </div>
    {% endfor %}

  </div> -->
    </div><br>
    <footer style="background-color:#4040a1;" class="container-fluid text-center">
      <p style="font-family: 'Mukta', sans-serif; font-size: 18px; color:white; padding-top: 10px ">-Giraffe HackDavis
        2021-
      </p>
      <!-- <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form> -->
    </footer>

    {% endblock %}